.btn-videoclips {
	width: 100%;
	height: 100%;
	background: red;
	display: block;
	&__subtitle {
		text-transform: uppercase;
		font-size: 1.9em;
		padding-top: 120px;
	}
	&__title {
		span {
			display: block;
			font-family: $principal;
			font-size: 3rem;
			color: $blanco;
			margin-bottom: 20px;
		}
		em {
			opacity: 0.9;
			font-style: italic;
			font-family: $principal;
			font-size: 3rem;
			color: #fff;
		}
	}
	&__button {
		text-align: center;
		display: block;
		span {
			display: inline-block;
			padding: 10px 30px;
			margin: 50px auto;
			font-size: 1.5em;
			border: 2px solid white;
			letter-spacing: 4px;
			font-family: $principal;
			font-weight: bold;
			color: $blanco;
			text-transform: uppercase;
		}
	}
	&--video {
		background: $negro url('../../img/unknown-5.jpeg') center  no-repeat;
		background-size: height width;
	}
	&--video1 {
		background: $negro url('../../img/unknown-4.jpeg') center  no-repeat;
		background-size: height width;
	}
	&--video2 {
		background: $negro url('../../img/unknown-3.jpeg') center  no-repeat;
		background-size: height width;
	}
}
