
.aside-box {
	height: 100%,;
	overflow: hidden;
	text-align: center;
	
	&__btn {
		display: block;
		width: 100%;
		height: 100%;
		background: red;
		background-size: 600px width;
		.bodytext {
			font-family: $principal;
			font-size: 2.8em;
			color: $blanco;
			line-height: 170%;
			margin-bottom: 20px;
			a{
				text-decoration: underline;
				color: #fff;
			}
		}
		.destacado {
			font-family: $secundaria;
			font-size: 4em;
			color: $blanco;
		}
		
		.left {
			background: blue !important;
			background: #000 url('../../img/unknown.jpeg') center  no-repeat;
			background-size: height 100%;
		}
		.right {
			background: #000 url('../../img/unknown-1.jpeg') center  no-repeat;
			background-size:  100%;
		}
	}	
}
a.logo {
	margin: 0 auto;
	display: block;
	height: 150px;
	width: 150px;
	text-indent: -9999px;
	background: transparent url('../../img/unknown-2.png') center no-repeat;
	background-size: 130px 130px;
}
