
@import 'partials/general/reset';
@import 'partials/general/variables';
@import 'partials/general/structure';

/* general */


@import 'partials/front/welcome';
@import 'partials/front/videoclips';
@import 'partials/front/creditos';
@import 'partials/front/agradecimientos';
@import 'partials/front/footer';


/* front */

@import 'partials/rwd/rwd';

/* RWD */


html, body {
	height: 100%;
	text-align: center;
	max-width: 1400px;
	margin: 0 auto;
	background-color: $negro;
}
