/* general */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  overflow: hidden; }

body, html {
  height: 100%; }

body {
  font-size: 62.5%; }

h1 {
  display: block;
  background: transparent url("../../img/Unknown.png") center no-repeat;
  height: 200px;
  text-indent: -9999px;
  background-size: 250px 250px; }

h2 {
  color: #000;
  display: block;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 50px 0px 100px 0px;
  font-weight: bold;
  font-size: 3em; }

h4 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  letter-spacing: 6px;
  margin-bottom: 50px; }

header {
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 600px;
  /* gruncho's attack */
  display: block;
  background: #000 url("../../img/Unknown-6.jpeg") center no-repeat;
  background-size: 600px width; }
  header a {
    color: #fff;
    text-align: center;
    display: inline-block;
    font-family: "Open Sans Condensed", sans-serif;
    letter-spacing: 6px;
    border-style: solid;
    border-width: 2px;
    padding: 15px 120px;
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.3em; }

.videos {
  height: 900px;
  text-align: center;
  overflow: hidden; }

article {
  display: block;
  width: 33.3%;
  height: 900px;
  float: left;
  background: transparent url("../../img/Unknown-5.jpeg") center no-repeat;
  background-size: 900px width; }

ul {
  text-indent: -9999px;
  background-color: red; }
  ul li {
    width: 100px;
    float: left; }
    ul li a {
      display: block;
      background: transparent url("../../img/Unknown-1.png") no-repeat;
      background-position: -377px 0;
      height: 160px;
      background-color: blue;
      background-size: 100px width;
      margin: auto; }

span {
  border-style: solid;
  border-width: 2px 0px 2px 0px; }

@media only screen and (max-width: 1400px) {
  .box img {
    width: auto !important;
    height: 100% !important; } }

/*# sourceMappingURL=general.css.map */
