@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a {
  color: black; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 62.5%;
  text-decoration: none; }

/* ----------------FUENTES---------------- */
h2 {
  color: #000;
  display: block;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 80px 0px 80px 0px;
  font-weight: bold;
  font-size: 3em;
  background-color: #fff;
  text-transform: uppercase; }

h4 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.9em;
  letter-spacing: 6px;
  margin-bottom: 50px; }

h2 span {
  border-style: solid;
  border-width: 2px 0px; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .wrapper--heightocho {
    max-height: 800px; }
  .wrapper--heightseis {
    max-height: 600px; }
  .wrapper--heightcuatro {
    max-height: 450px; }
  .wrapper--heightdos {
    max-height: 300px;
    min-height: 150px; }
  .wrapper__box {
    width: 100%;
    height: 100%; }
    .wrapper__box--three {
      width: 33.3%;
      float: left; }
    .wrapper__box--two {
      width: 50%;
      float: left; }

/* general */
.welcome-content {
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  width: 100%;
  height: 600px;
  display: block;
  background: #000 url("../../img/unknown-6.jpeg") center no-repeat;
  background-size: 600px width; }
  .welcome-content__title {
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.9em;
    letter-spacing: 6px;
    margin-bottom: 50px; }
  .welcome-content__logo {
    display: block;
    background: transparent url("../../img/unknown.png") center no-repeat;
    height: 200px;
    text-indent: -9999px;
    background-size: 250px 250px; }
  .welcome-content__btn {
    display: inline-block;
    max-width: 100%;
    border: 2px solid white;
    color: #fff;
    padding: 12px 100px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4em;
    letter-spacing: 6px;
    opacity: 0.6;
    margin-top: 60px;
    text-transform: uppercase; }

.btn-videoclips {
  width: 100%;
  height: 100%;
  background: red;
  display: block; }
  .btn-videoclips__subtitle {
    text-transform: uppercase;
    font-size: 1.9em;
    padding-top: 120px; }
  .btn-videoclips__title span {
    display: block;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px; }
  .btn-videoclips__title em {
    opacity: 0.9;
    font-style: italic;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3rem;
    color: #fff; }
  .btn-videoclips__button {
    text-align: center;
    display: block; }
    .btn-videoclips__button span {
      display: inline-block;
      padding: 10px 30px;
      margin: 50px auto;
      font-size: 1.5em;
      border: 2px solid white;
      letter-spacing: 4px;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase; }
  .btn-videoclips--video {
    background: #000 url("../../img/unknown-5.jpeg") center no-repeat;
    background-size: height width; }
  .btn-videoclips--video1 {
    background: #000 url("../../img/unknown-4.jpeg") center no-repeat;
    background-size: height width; }
  .btn-videoclips--video2 {
    background: #000 url("../../img/unknown-3.jpeg") center no-repeat;
    background-size: height width; }

.wrapper__box--img {
  overflow: hidden;
  display: block;
  height: 100%;
  background: transparent url("../../img/unknown-2.jpeg") center fixed no-repeat;
  background-size: 100%;
  background-color: #000; }

.column {
  padding: 100px 0 50px 0;
  width: 80%;
  margin: 0 auto;
  max-width: 400px; }
  .column__bodytext {
    margin-bottom: 25px;
    color: #fff;
    font-size: 3em;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3em; }
  .column__title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 25px; }

/* ----------------LOGOS---------------- */
.wrapper {
  overflow: hidden;
  text-align: center;
  background-color: #fff; }
  .wrapper .logos {
    display: inline-block; }
    .wrapper .logos .friend {
      display: block;
      height: 150px;
      width: 150px;
      text-indent: -9999px;
      background: transparent url("../../img/unknown-1.png") no-repeat;
      background-size: 600%; }
    .wrapper .logos .f01 {
      background-position: 4px -9px; }
    .wrapper .logos .f02 {
      background-position: -115px 0px;
      width: 210px;
      background-size: 370%; }
    .wrapper .logos .f03 {
      background-position: -356px -9px;
      width: 110px;
      background-size: 810%; }
    .wrapper .logos .f04 {
      background-position: -542px -24px;
      width: 150px;
      background-size: 730%; }
    .wrapper .logos .f05 {
      background-position: -457px 1px;
      width: 110px;
      background-size: 690%; }
    .wrapper .logos .f06 {
      background-position: -660px -7px;
      width: 110px;
      background-size: 830%; }
    .wrapper .logos .f07 {
      background-position: -874px -9px;
      width: 150px;
      background-size: 690%; }

.aside-box {
  height: 100%;
  overflow: hidden;
  text-align: center; }
  .aside-box__btn {
    display: block;
    width: 100%;
    height: 100%;
    background: red;
    background-size: 600px width; }
    .aside-box__btn .bodytext {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 2.8em;
      color: #fff;
      line-height: 170%;
      margin-bottom: 20px; }
      .aside-box__btn .bodytext a {
        text-decoration: underline;
        color: #fff; }
    .aside-box__btn .destacado {
      font-family: "Roboto", sans-serif;
      font-size: 4em;
      color: #fff; }
    .aside-box__btn .left {
      background: blue !important;
      background: #000 url("../../img/unknown.jpeg") center no-repeat;
      background-size: height 100%; }
    .aside-box__btn .right {
      background: #000 url("../../img/unknown-1.jpeg") center no-repeat;
      background-size: 100%; }

a.logo {
  margin: 0 auto;
  display: block;
  height: 150px;
  width: 150px;
  text-indent: -9999px;
  background: transparent url("../../img/unknown-2.png") center no-repeat;
  background-size: 130px 130px; }

/* front */
@media only screen and (max-width: 450px) {
  h2 {
    padding: 40px 0px; }

  html, body {
    height: 150%; }

  .wrapper__box {
    width: 100% !important; }
    .wrapper__box--three {
      height: 33%; }
    .wrapper__box--two {
      height: 200%; }

  .wrapper__box--img {
    background-attachment: inherit;
    /* quitar versión táctil */
    background-size: auto 100% !important; }

  .welcome-content__title {
    line-height: 39px;
    font-size: 2.9em;
    letter-spacing: 9px;
    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 100px; }
  .welcome-content__logo {
    height: 150px;
    background-size: 200px 200px; }
  .welcome-content__btn {
    font-size: 2.1em;
    padding: 24px 100px; }

  .wrapper {
    height: 150%; }

  .btn-videoclips__content {
    margin: auto 0px; }
  .btn-videoclips__subtitle {
    font-size: 1.4em;
    padding-top: 40px; }
  .btn-videoclips__title span {
    font-size: 2.8rem;
    margin-bottom: 30px;
    max-width: 80%;
    margin: 0px auto; }
  .btn-videoclips__title em {
    opacity: 0.5;
    font-size: 1rem; }
  .btn-videoclips__button span {
    padding: 20px 60px; }
  .btn-videoclips--video {
    background: #000; }
  .btn-videoclips--video1 {
    background: #000; }
  .btn-videoclips--video2 {
    background: #000; } }
/* RWD */
html, body {
  height: 100%;
  text-align: center;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #000; }

/*# sourceMappingURL=general-2.css.map */
