/* general */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%;
  background-color: #000;
  max-width: 1400px;
  margin: 0 auto; }

body {
  font-size: 62.5%;
  text-decoration: none; }

/* ----------------FUENTES---------------- */
h1 {
  display: block;
  background: transparent url("../../img/unknown.png") center no-repeat;
  height: 200px;
  text-indent: -9999px;
  background-size: 250px 250px; }

h2 {
  color: #000;
  display: block;
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  padding: 80px 0px 80px 0px;
  font-weight: bold;
  font-size: 3em;
  background-color: #fff; }

h4 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9em;
  letter-spacing: 6px;
  margin-bottom: 50px; }

span {
  border-style: solid;
  border-width: 2px 0px 2px 0px; }

/* ----------------HEADER---------------- */
header {
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 600px;
  display: block;
  background: #000 url("../../img/unknown-6.jpeg") center no-repeat;
  background-size: 600px width; }
  header .buton {
    display: inline-block;
    max-width: 100%;
    border: 2px solid white;
    color: #fff;
    padding: 12px 100px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.4em;
    letter-spacing: 6px;
    opacity: 0.6;
    margin-top: 60px; }

/* ----------------VIDEOS---------------- */
.videos {
  overflow: hidden;
  height: 100%; }

.video-box {
  height: 100%;
  text-align: center; }
  .video-box__column {
    height: 100%;
    float: left;
    width: 33.3%; }
  .video-box__btn {
    padding-top: 150px;
    display: block;
    width: 100%;
    height: 100%;
    background: red; }
    .video-box__btn .bodytext {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 3em;
      color: #fff;
      margin-bottom: 20px; }
    .video-box__btn .italic {
      opacity: 0.7;
      font-style: italic;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 3em;
      color: #fff; }
    .video-box__btn .boxed {
      display: inline-block;
      padding: 10px 30px;
      margin: 50px auto;
      font-size: 1.5em;
      border: 2px solid white;
      letter-spacing: 4px;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      color: #fff; }
  .video-box .left {
    background: #000 url("../../img/unknown-5.jpeg") center no-repeat;
    background-size: height width; }
  .video-box .center {
    background: #000 url("../../img/unknown-4.jpeg") center no-repeat;
    background-size: height width; }
  .video-box .right {
    background: #000 url("../../img/unknown-3.jpeg") center no-repeat;
    background-size: height width; }

/* ----------------ALBUM---------------- */
.album p {
  margin-bottom: 50px;
  color: #fff;
  font-size: 3em;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center; }
.album h4 {
  font-size: 1.5em; }

.columna {
  padding: 100px 0 50px 0;
  width: 80%;
  margin: 0 auto;
  max-width: 500px; }

.credits {
  overflow: hidden;
  display: block;
  height: 80%;
  background: transparent url("../../img/unknown-2.jpeg") center fixed no-repeat;
  background-size: 100%;
  background-color: #000; }

/* ----------------LOGOS---------------- */
.wrapper {
  overflow: hidden;
  text-align: center;
  padding: 0 0 50px 0;
  background-color: #fff; }
  .wrapper .logos {
    display: inline-block; }
    .wrapper .logos .friend {
      display: block;
      height: 150px;
      width: 150px;
      text-indent: -9999px;
      background: transparent url("../../img/unknown-1.png") no-repeat;
      background-size: 600%; }
    .wrapper .logos .f01 {
      background-position: 4px -9px; }
    .wrapper .logos .f02 {
      background-position: -115px 0px;
      width: 210px;
      background-size: 370%; }
    .wrapper .logos .f03 {
      background-position: -356px -9px;
      width: 110px;
      background-size: 810%; }
    .wrapper .logos .f04 {
      background-position: -542px -24px;
      width: 150px;
      background-size: 730%; }
    .wrapper .logos .f05 {
      background-position: -457px 1px;
      width: 110px;
      background-size: 690%; }
    .wrapper .logos .f06 {
      background-position: -660px -7px;
      width: 110px;
      background-size: 830%; }
    .wrapper .logos .f07 {
      background-position: -874px -9px;
      width: 150px;
      background-size: 690%; }

/* ----------------ASIDE---------------- */
aside {
  overflow: hidden;
  height: 100%; }

.aside-box {
  height: 100%;
  overflow: hidden;
  text-align: center; }
  .aside-box__column {
    height: 100%;
    float: left;
    width: 50%; }
  .aside-box__btn {
    padding-top: 300px;
    display: block;
    width: 100%;
    height: 100%;
    background: red;
    background: #000 url("../../img/unknown-6.jpeg") center no-repeat;
    background-size: 600px width; }
    .aside-box__btn .bodytext {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 2.8em;
      color: #fff;
      line-height: 170%;
      margin-bottom: 20px; }
      .aside-box__btn .bodytext a {
        text-decoration: underline;
        color: #fff; }
    .aside-box__btn .destacado {
      font-family: 'Roboto', sans-serif;
      font-size: 4em;
      color: #fff; }
  .aside-box .left {
    background: #000 url("../../img/unknown.jpeg") center no-repeat;
    background-size: 100%; }
  .aside-box .right {
    background: #000 url("../../img/unknown-1.jpeg") center no-repeat;
    background-size: 100%; }

a.logo {
  margin: 0 auto;
  display: block;
  height: 150px;
  width: 150px;
  text-indent: -9999px;
  background: transparent url("../../img/unknown-2.png") center no-repeat;
  background-size: 130px 130px; }

@media only screen and (max-width: 1400px) {
  .box img {
    width: auto !important;
    height: 100% !important; } }

/*# sourceMappingURL=general.css.map */
