/* general */

@import 'partials/reset';
@import 'partials/home';

.box {
	width: 100%;
	height: 100%;
	background: black url('../../img/Unknown-6.jpeg') center no-repeat fixed;
	background-size: auto 100%;
	img {
		display: none;
	}
}

.icon {
	display: none; /* no hace falta */
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background: red url('../../img/icon.png') center no-repeat;
	background-size: 100%;
}

/* list */

ul.list {
	width: 100%;
	display: block;
	background: green;
	overflow: hidden;
	li {
		width: 50%;
		display: block;
		text-align: center;
		font-size: 2rem;
	}
}

@import 'partials/rwd';
