/* ----------------ALBUM---------------- */
.album {
	p{
		margin-bottom: 50px;
		color: #fff;
		font-size: 3em;
		font-family: $principal;
		text-align: center;
	}
	h4{
		font-size: 1.5em;
	}
}	

.columna {
	padding: 100px 0 50px 0;
	width: 80%;
	margin:0 auto;
	max-width: 500px;
}

.credits{
	overflow: hidden;
	display: block;
	height: 80%;
	background: transparent url('../../img/unknown-2.jpeg') center fixed no-repeat;
	background-size: 100%;
	background-color: #000;
}