body, html {
	height: 100%;
}

body {
	font-size: 62.5%;
}

$principal: 'Open Sans Condensed', sans-serif;

h1 {
	display: block;
	background: transparent url('../../img/Unknown.png') center  no-repeat;
	height: 300px;
	text-indent: -9999px;
}

h2 {
	color:#000;
	display: block;
	text-align: center;
	font-family: $principal;
	margin: 50px 0px 100px 0px;
	font-weight: bold;
	font-size: 3em
}

h4 {
	color:#fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	letter-spacing: 6px;
	margin-bottom: 50px
}


header {
	padding: 50px 0;
	text-align: center;
	color: #fff;
	width: 100%;
	height: 100%; /* gruncho's attack */
	display: block;
	background: transparent url('../../img/Unknown-6.jpeg') center  no-repeat;
	background-size: auto 100%;
	min-height: 600px;
	a {
		color:#fff;
		text-align: center;
		display: inline-block;
		font-family: $principal;
		letter-spacing: 6px;
		border-style: solid;
		border-width: 2px;
		padding: 15px 120px;
		margin-top: 50px;
		text-decoration: none;
		font-size: 1.3em;
	}
}



span {
	border-style: solid;
	border-width: 2px 0px 2px 0px;
}