/* ----------------VIDEOS---------------- */
.videos {
	
	overflow: hidden;
	height: 100%;
}

.video-box {
	height: 100%,;	
	text-align: center;
	&__column {
		height: 100%;
		float: left;
		width: 33.3%;
	}
	&__btn {
		padding-top: 150px;
		display: block;
		width: 100%;
		height: 100%;
		background: red;
		.bodytext {
			font-family: $principal;
			font-size: 3em;
			color: #fff;
			margin-bottom: 20px;
		}
		.italic {
			opacity: 0.7;
			font-style: italic;
			font-family: $principal;
			font-size: 3em;
			color: #fff;
		}
		.boxed{
			display: inline-block;
			padding: 10px 30px;
			margin: 50px auto;
			font-size: 1.5em;
			border: 2px solid white;
			letter-spacing: 4px;
			font-family: $principal;
			font-weight: bold;
			color: #fff;

		}
	}
	.left {
		background: #000 url('../../img/unknown-5.jpeg') center  no-repeat;
		background-size: height width;
		}
	.center {
		background: #000 url('../../img/unknown-4.jpeg') center  no-repeat;
		background-size: height width;
		}
	.right {
		background: #000 url('../../img/unknown-3.jpeg') center  no-repeat;
		background-size: height width;
		}		
}